.list-controls
    display flex
    justify-content space-between
    padding 8px

    &__button
        border none
        padding 8px
        margin 0
        color #fff
        font-size 14px

        &_color_blue
            background-color #518DE4

        &_color_green
            background-color #7CA250
